<div class="product product--single">
    <div class="product__gallery">
        <div class="slider">
            <div><img class="product__img u-responsiveImg" src="../../assets/images/1.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque esse
                    Excepturi inventore iste magni, praesentium quo sed vero voluptas!
                </p></div>
            <div>

                <img class="product__img u-responsiveImg" src="../../assets/images/2.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque esse
                    Excepturi inventore iste magni, praesentium quo sed vero voluptas!
                </p>
            </div>
            <div>
                <img class="product__img u-responsiveImg" src="../../assets/images/3.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque esse
                    Excepturi inventore iste magni, praesentium quo sed vero voluptas!
                </p>
            </div>
        </div>
        <div class="product__rate">
            ${require('../components/starRating.html')}
        </div>
    </div>

    <div class="product__details">
        <div>
            <h3 class="product__header">Active Coat Lorem 1</h3>
            <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam,
                libero aliquid architecto ad quis sit nulla officiis ex velit sapiente autem fugit , qui reprehenderit
                veniam.
            </p>
            <p class="product__additional">You can <a>add 5 more</a>. You can also <a>edit</a> details or <a>delete</a>
                them.</p>
        </div>
        <div class="product__bottomline">
            <div class="product__price"><strong><span class="product__currency">$</span>47.95</strong> <span
                class="product__amount">(9 items left)</span></div>
            <a class="product__button button button--primary">Buy</a>
        </div>
    </div>
</div>
