.starRating {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;

    span {
        background-image: url(../images/star-inactive.svg);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 18px;
        display: inline-block;
        height: 22px;
        width: 22px;

        &.is-filled {
            background-image: url(../images/star-active.svg);
        }
    }

    &.is-clickable {
        cursor: pointer;
        pointer-events: auto;

        &:hover span {
            background-image: url(../images/star-active.svg);
        }

        span:hover ~ span {
            background-image: url(../images/star-inactive.svg);
        }

    }
}
